apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: myapp
  name: app
  namespace: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: myapp
  template:
    metadata:
      labels:
        app.kubernetes.io/name: myapp
    spec:
      containers:
      - image: 678092784151.dkr.ecr.us-east-1.amazonaws.com/myrepo:my_app
        name: app
        ports:
        - containerPort: 80
        env:
        - name: DBPORT
          value: "3306"
        - name: DBHOST
          value: "10.100.236.68"
        - name: DBUSER
          value: root
        - name: DBPWD
          value: pw